p {
    text-indent: 0px;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.main-panel{
    margin-left: auto;
    margin-right: auto;
    width:480px;
}

.default-user-row {
    background-color: rgba(209, 199, 186, 0.23);
}

.tooltip.right .tooltip-arrow {
    border-right: 5px solid #294D2B !important;
}

.tooltip-inner {
    background-color: #294D2B !important;
}

.date-box {
    margin: 0 10px 10px 0;
}

.label{
    font-size: 15px !important;
    font-weight: normal !important;
}

.font-size-medium{
    font-size: medium;
}

.chart-date-box-panel td{
    padding-top: 5px;
}